In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train_users_2.csv')

In [3]:
df.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [4]:
df.gender.value_counts()

-unknown-    95688
FEMALE       63041
MALE         54440
OTHER          282
Name: gender, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213451 entries, 0 to 213450
Data columns (total 16 columns):
id                         213451 non-null object
date_account_created       213451 non-null object
timestamp_first_active     213451 non-null int64
date_first_booking         88908 non-null object
gender                     213451 non-null object
age                        125461 non-null float64
signup_method              213451 non-null object
signup_flow                213451 non-null int64
language                   213451 non-null object
affiliate_channel          213451 non-null object
affiliate_provider         213451 non-null object
first_affiliate_tracked    207386 non-null object
signup_app                 213451 non-null object
first_device_type          213451 non-null object
first_browser              213451 non-null object
country_destination        213451 non-null object
dtypes: float64(1), int64(2), object(13)
memory usage: 26.1+ MB

In [6]:
df.country_destination.value_counts()

NDF      124543
US        62376
other     10094
FR         5023
IT         2835
GB         2324
ES         2249
CA         1428
DE         1061
NL          762
AU          539
PT          217
Name: country_destination, dtype: int64

In [8]:
cls = list(df.columns)

In [14]:
cls

['id',
 'date_account_created',
 'timestamp_first_active',
 'date_first_booking',
 'gender',
 'age',
 'signup_method',
 'signup_flow',
 'language',
 'affiliate_channel',
 'affiliate_provider',
 'first_affiliate_tracked',
 'signup_app',
 'first_device_type',
 'first_browser',
 'country_destination']

In [13]:
for n in cls[1:]:
    print(df[n].value_counts())

2014-05-13    674
2014-06-24    670
2014-06-25    636
2014-05-20    632
2014-05-14    622
2014-06-03    602
2014-05-21    602
2014-06-16    598
2014-06-11    593
2014-05-28    590
2014-06-30    590
2014-04-23    587
2014-06-26    587
2014-06-23    586
2014-06-09    577
2014-06-18    564
2014-06-19    564
2014-06-04    562
2014-06-27    557
2014-05-19    556
2014-06-10    555
2014-06-05    550
2014-06-17    548
2014-06-20    544
2014-05-22    543
2014-06-02    534
2014-05-16    534
2014-05-15    530
2014-06-12    524
2014-04-29    519
             ...
2010-03-21      2
2010-04-08      2
2010-02-08      2
2010-02-03      2
2010-02-18      2
2010-03-28      2
2010-02-07      2
2010-04-16      2
2010-06-12      2
2010-02-17      2
2010-05-29      2
2010-06-26      2
2010-03-04      2
2010-01-21      2
2010-02-04      2
2010-01-13      2
2010-06-18      1
2010-02-14      1
2010-01-02      1
2010-01-01      1
2010-03-09      1
2010-04-24      1
2010-01-19      1
2010-01-31      1
2010-01-23      1
2010-04-01      1
2010-04-11      1
2010-01-08      1
2010-01-03      1
2010-01-28      1
Name: date_account_created, Length: 1634, dtype: int64
20131002011351    1
20130622024754    1
20111120235256    1
20131118144252    1
20131106211656    1
20140322022139    1
20131206204150    1
20121026163433    1
20140604224804    1
20130913182443    1
20130805175021    1
20130716031109    1
20130630050531    1
20140225061611    1
20140422200040    1
20140204104340    1
20130423003804    1
20140122072510    1
20130718171807    1
20130520211735    1
20120311052944    1
20131023211901    1
20140325053639    1
20140122073445    1
20140627211002    1
20140401165047    1
20130820183044    1
20140128004810    1
20130923041501    1
20140109085503    1
                 ..
20120507220715    1
20120922205919    1
20120908070613    1
20100204005644    1
20131119221012    1
20130818174424    1
20130416165229    1
20110307191104    1
20120827025734    1
20130617010552    1
20130725011833    1
20131107223930    1
20131009180027    1
20140429050237    1
20140625142137    1
20140512022937    1
20120305052951    1
20130513164654    1
20140324133150    1
20131118190959    1
20130416191840    1
20120703072932    1
20130305032549    1
20140529164649    1
20140116005143    1
20130719183131    1
20131022211356    1
20131022215454    1
20120508143902    1
20131104235813    1
Name: timestamp_first_active, Length: 213451, dtype: int64
2014-05-22    248
2014-06-11    231
2014-06-24    226
2014-05-21    225
2014-06-10    223
2014-06-19    217
2014-06-25    216
2014-05-28    213
2014-05-14    213
2014-06-17    211
2014-04-29    210
2014-05-19    210
2014-01-17    209
2014-05-20    207
2014-06-04    206
2014-06-23    205
2014-06-13    205
2014-06-30    205
2014-06-05    201
2014-06-18    200
2014-06-03    200
2014-05-08    199
2014-06-26    196
2014-05-15    195
2014-05-02    193
2014-06-20    193
2014-05-05    193
2014-06-27    191
2014-04-11    190
2014-06-06    189
             ...
2015-06-08      1
2010-05-09      1
2010-05-06      1
2010-02-20      1
2010-07-18      1
2010-01-29      1
2010-01-28      1
2010-01-31      1
2015-06-25      1
2010-04-08      1
2010-01-02      1
2010-03-30      1
2010-08-27      1
2015-06-14      1
2010-05-25      1
2010-07-10      1
2010-06-30      1
2010-03-11      1
2010-01-08      1
2015-06-28      1
2010-01-22      1
2015-06-23      1
2010-02-11      1
2010-03-23      1
2010-01-05      1
2010-02-15      1
2010-07-13      1
2010-04-26      1
2010-01-06      1
2010-06-24      1
Name: date_first_booking, Length: 1976, dtype: int64
-unknown-    95688
FEMALE       63041
MALE         54440
OTHER          282
Name: gender, dtype: int64
30.0      6124
31.0      6016
29.0      5963
28.0      5939
32.0      5855
27.0      5738
33.0      5527
26.0      5044
34.0      5029
35.0      4860
25.0      4459
36.0      4083
37.0      3694
38.0      3384
24.0      3220
39.0      2998
40.0      2766
41.0      2538
23.0      2462
42.0      2243
45.0      2149
44.0      2137
43.0      2056
46.0      1875
22.0      1702
47.0      1646
48.0      1469
50.0      1387
51.0      1337
49.0      1331
          ...
91.0        12
97.0        10
15.0         8
2.0          7
113.0        4
1931.0       3
4.0          3
1949.0       3
1932.0       3
1924.0       2
1936.0       2
1947.0       2
1929.0       2
1928.0       2
1.0          2
111.0        2
1935.0       1
1926.0       1
1995.0       1
1927.0       1
2008.0       1
1953.0       1
132.0        1
150.0        1
1925.0       1
1933.0       1
1942.0       1
112.0        1
1938.0       1
1952.0       1
Name: age, Length: 127, dtype: int64
basic       152897
facebook     60008
google         546
Name: signup_method, dtype: int64
0     164739
25     14659
12      9329
3       8822
2       6881
24      4328
23      2835
1       1047
6        301
8        240
21       196
5         36
20        14
16        11
15        10
10         2
4          1
Name: signup_flow, dtype: int64
en    206314
zh      1632
fr      1172
es       915
ko       747
de       732
it       514
ru       389
pt       240
ja       225
sv       122
nl        97
tr        64
da        58
pl        54
cs        32
no        30
el        24
th        24
id        22
hu        18
fi        14
ca         5
is         5
hr         2
Name: language, dtype: int64
direct           137727
sem-brand         26045
sem-non-brand     18844
other              8961
seo                8663
api                8167
content            3948
remarketing        1096
Name: affiliate_channel, dtype: int64
direct                 137426
google                  51693
other                   12549
craigslist               3471
bing                     2328
facebook                 2273
vast                      829
padmapper                 768
facebook-open-graph       545
yahoo                     496
gsp                       453
meetup                    347
email-marketing           166
naver                      52
baidu                      29
yandex                     17
wayn                        8
daum                        1
Name: affiliate_provider, dtype: int64
untracked        109232
linked            46287
omg               43982
tracked-other      6156
product            1556
marketing           139
local ops            34
Name: first_affiliate_tracked, dtype: int64
Web        182717
iOS         19019
Moweb        6261
Android      5454
Name: signup_app, dtype: int64
Mac Desktop           89600
Windows Desktop       72716
iPhone                20759
iPad                  14339
Other/Unknown         10667
Android Phone          2803
Android Tablet         1292
Desktop (Other)        1199
SmartPhone (Other)       76
Name: first_device_type, dtype: int64
Chrome                  63845
Safari                  45169
Firefox                 33655
-unknown-               27266
IE                      21068
Mobile Safari           19274
Chrome Mobile            1270
Android Browser           851
AOL Explorer              245
Opera                     188
Silk                      124
Chromium                   73
BlackBerry Browser         53
Maxthon                    46
Apple Mail                 36
IE Mobile                  36
Sogou Explorer             33
Mobile Firefox             30
RockMelt                   24
SiteKiosk                  24
Iron                       17
IceWeasel                  13
Pale Moon                  12
Yandex.Browser             11
SeaMonkey                  11
CometBird                  11
Camino                      9
TenFourFox                  8
wOSBrowser                  6
CoolNovo                    6
Opera Mini                  4
Avant Browser               4
Mozilla                     3
Opera Mobile                2
SlimBrowser                 2
Flock                       2
OmniWeb                     2
Comodo Dragon               2
TheWorld Browser            2
Crazy Browser               2
Arora                       1
Outlook 2007                1
IceDragon                   1
Palm Pre web browser        1
Googlebot                   1
Kindle Browser              1
NetNewsWire                 1
Conkeror                    1
Epic                        1
PS Vita browser             1
Google Earth                1
Stainless                   1
Name: first_browser, dtype: int64

NDF      124543
US        62376
other     10094
FR         5023
IT         2835
GB         2324
ES         2249
CA         1428
DE         1061
NL          762
AU          539
PT          217
Name: country_destination, dtype: int64

In [ ]:
# TOTAL ROWS 213k
#date account created = 2010 - 2014
#timestanp first active - has to be transformed to a date
#date first booking - should be dropped? - 124542 is NaN - same as the number of users who have not booked
#gender - 63k female, 54k male, 94k unknown
#age - numerical, needs cleaning
#sign up method - 3 categories
#sign up flow - WHAT IS THIS? - values from 0 to 25
#language - cca 20 categories
#affiliate channel - 8 categories
#affiliate provider - 18 categories
#first affiliare tracked - 7 categories
#sign up app - 4 categories
#first device type - 9 categories
#first browser = 30? categories, vast majority in the top 5
# country of destination = target

In [22]:
df_test = pd.read_csv('test_users.csv')

In [24]:
df_test.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,5uwns89zht,2014-07-01,20140701000006,NaN,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
1,jtl0dijy2j,2014-07-01,20140701000051,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
2,xx0ulgorjt,2014-07-01,20140701000148,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome
3,6c6puo6ix0,2014-07-01,20140701000215,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE
4,czqhjk3yfe,2014-07-01,20140701000305,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari

In [25]:
df_countries = pd.read_csv('countries.csv')

In [29]:
df_countries.head(25)

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022.0,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370.0,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801.0,fra,92.06
5,GB,54.633220,-3.432277,6883.6590,243610.0,eng,0.00
6,IT,41.873990,12.564167,8636.6310,301340.0,ita,89.40
7,NL,52.133057,5.295250,7524.3203,41543.0,nld,63.22
8,PT,39.553444,-7.839319,7355.2534,92090.0,por,95.45
9,US,36.966427,-95.844030,0.0000,9826675.0,eng,0.00

In [30]:
df_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
country_destination              10 non-null object
lat_destination                  10 non-null float64
lng_destination                  10 non-null float64
distance_km                      10 non-null float64
destination_km2                  10 non-null float64
destination_language             10 non-null object
language_levenshtein_distance    10 non-null float64
dtypes: float64(5), object(2)
memory usage: 640.0+ bytes

In [31]:
df_gender = pd.read_csv('age_gender_bkts.csv')

In [34]:
df_gender.head(50)

   age_bucket country_destination  gender  population_in_thousands    year
0        100+                  AU    male                      1.0  2015.0
1       95-99                  AU    male                      9.0  2015.0
2       90-94                  AU    male                     47.0  2015.0
3       85-89                  AU    male                    118.0  2015.0
4       80-84                  AU    male                    199.0  2015.0
5       75-79                  AU    male                    298.0  2015.0
6       70-74                  AU    male                    415.0  2015.0
7       65-69                  AU    male                    574.0  2015.0
8       60-64                  AU    male                    636.0  2015.0
9       55-59                  AU    male                    714.0  2015.0
10      50-54                  AU    male                    778.0  2015.0
11      45-49                  AU    male                    778.0  2015.0
12      40-44                  AU    male                    820.0  2015.0
13      35-39                  AU    male                    797.0  2015.0
14      30-34                  AU    male                    881.0  2015.0
15      25-29                  AU    male                    895.0  2015.0
16      20-24                  AU    male                    820.0  2015.0
17      15-19                  AU    male                    768.0  2015.0
18      10-14                  AU    male                    743.0  2015.0
19        5-9                  AU    male                    784.0  2015.0
20        0-4                  AU    male                    824.0  2015.0
21       100+                  AU  female                      4.0  2015.0
22      95-99                  AU  female                     25.0  2015.0
23      90-94                  AU  female                     94.0  2015.0
24      85-89                  AU  female                    179.0  2015.0
25      80-84                  AU  female                    252.0  2015.0
26      75-79                  AU  female                    338.0  2015.0
27      70-74                  AU  female                    438.0  2015.0
28      65-69                  AU  female                    592.0  2015.0
29      60-64                  AU  female                    660.0  2015.0
30      55-59                  AU  female                    739.0  2015.0
31      50-54                  AU  female                    798.0  2015.0
32      45-49                  AU  female                    793.0  2015.0
33      40-44                  AU  female                    838.0  2015.0
34      35-39                  AU  female                    801.0  2015.0
35      30-34                  AU  female                    865.0  2015.0
36      25-29                  AU  female                    851.0  2015.0
37      20-24                  AU  female                    787.0  2015.0
38      15-19                  AU  female                    737.0  2015.0
39      10-14                  AU  female                    707.0  2015.0
40        5-9                  AU  female                    745.0  2015.0
41        0-4                  AU  female                    781.0  2015.0
42      75-79                  CA  female                    530.0  2015.0
43      75-79                  CA    male                    446.0  2015.0
44      35-39                  CA  female                   1192.0  2015.0
45      25-29                  CA  female                   1220.0  2015.0
46      95-99                  CA    male                     13.0  2015.0
47      40-44                  CA    male                   1179.0  2015.0
48      30-34                  CA  female                   1240.0  2015.0
49      60-64                  CA  female                   1142.0  2015.0

In [33]:
df_gender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 5 columns):
age_bucket                 420 non-null object
country_destination        420 non-null object
gender                     420 non-null object
population_in_thousands    420 non-null float64
year                       420 non-null float64
dtypes: float64(2), object(3)
memory usage: 16.5+ KB

In [35]:
df_sessions = pd.read_csv('sessions.csv')

In [38]:
df_sessions.head(20)

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0
5,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,7703.0
6,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,115.0
7,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,831.0
8,d1mm9tcy42,index,view,view_search_results,Windows Desktop,20842.0
9,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,683.0
10,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,59274.0
11,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,95.0
12,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,1399.0
13,d1mm9tcy42,index,view,view_search_results,Windows Desktop,74886.0
14,d1mm9tcy42,similar_listings,data,similar_listings,Windows Desktop,255.0
15,d1mm9tcy42,ajax_refresh_subtotal,click,change_trip_characteristics,Windows Desktop,8134.0
16,d1mm9tcy42,similar_listings,data,similar_listings,Windows Desktop,183.0
17,d1mm9tcy42,ajax_refresh_subtotal,click,change_trip_characteristics,Windows Desktop,175570.0
18,d1mm9tcy42,show,NaN,NaN,Windows Desktop,86.0
19,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,1535.0

In [39]:
df_sessions.action.value_counts()

show                           2768278
index                           843699
search_results                  725226
personalize                     706824
search                          536057
ajax_refresh_subtotal           487744
update                          365130
similar_listings                364624
social_connections              339000
reviews                         320591
active                          188036
similar_listings_v2             168788
lookup                          162041
create                          155887
dashboard                       152952
header_userpic                  141830
collections                     124417
edit                            109083
campaigns                       105028
track_page_view                  81117
unavailabilities                 78317
qt2                              64651
notifications                    59392
confirm_email                    58726
requested                        57034
identity                         53631
ajax_check_dates                 52517
show_personalize                 50434
ask_question                     44063
listings                         43656
                                ...
special_offer                        2
use_mobile_site                      2
accept_decline                       2
friend_listing                       2
recommendation_page                  2
stpcv                                2
unsubscribe                          2
preapproval                          2
reset_calendar                       2
sandy                                2
views_campaign_rules                 2
envoy_bank_details_redirect          2
refund_guest_cancellation            2
report                               2
tos_2014                             2
set_minimum_payout_amount            1
wishlists                            1
acculynk_bin_check_failed            1
desks                                1
deactivated                          1
reactivate                           1
deactivate                           1
events                               1
deauthorize                          1
revert_to_admin                      1
sldf                                 1
plaxo_cb                             1
host_cancel                          1
nyan                                 1
update_message                       1
Name: action, Length: 359, dtype: int64

In [37]:
df_sessions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10567737 entries, 0 to 10567736
Data columns (total 6 columns):
user_id          object
action           object
action_type      object
action_detail    object
device_type      object
secs_elapsed     float64
dtypes: float64(1), object(5)
memory usage: 483.8+ MB